@import './reset.css';
@import './typogrphy.css';
@import './variable.css';

/* html {
  font-size: 16px;
} */
body{
    background-color: var(--color-neutral-50);
    color: var(--color-neutral-900);
    margin: 0;
    font-family: var(--font-family)
}
main{
    display: flex;
    flex-direction: column;
    gap: var(--space-32px);
}
.seccion-con-ancla{
    scroll-margin-top: 104px;
  }
h1{
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-4xl);
    font-size: var(--font-size-32px);
}

h2{
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-2xl);
    font-size: var(--font-size-24px);
}

h3{
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-md);
    font-size: var(--font-size-20px);
}
h4{
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-sm);
    font-size: var(--font-size-18px);
}
p{
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-sm);
    font-size: var( --font-size-16px);
}
.caption{
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-xs);
    font-size: var(--font-size-14px);
}
@media (min-width: 1024px) {
    h1{
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-6xl);
        font-size: var(--font-size-48px);
    }

    h2{
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-5xl);
        font-size: var(--font-size-36px);
    }

    h3{
        font-weight: var(--font-weight-medium);
        line-height: var(--line-height-3xl);
        font-size: var(--font-size-28px);
    }
    h4{
        font-weight: var(--font-weight-medium);
        line-height: var(--line-height-xl);
        font-size: var(--font-size-22px);
    }
    p{
        font-weight: var(--font-weight-regular);
        line-height: var(--line-height-lg);
        font-size: var(--font-size-18px);
    }
    .caption{
        font-weight: var(--font-weight-regular);
        line-height: var(--line-height-xs);
        font-size: var(--font-size-14px);
    }
}
.padding-lateral{
    padding-left: var(--space-16px);
    padding-right: var(--space-16px);
}
@media (min-width: 1024px) {
    .padding-lateral{
        padding-left: var(--space-64px);
        padding-right: var(--space-64px);
    }
}
.color-amarillo{
    color: var(--color-amarillo-300);
}