.rdp-root {
  --rdp-accent-color: var(--color-amarillo); /* The accent color used for selected days and UI elements. */
  --rdp-accent-background-color: var(--color-neutal-50); /* The accent background color used for selected days and UI elements. */
  --rdp-day_button-width: 100%;
  --rdp-today-color: var(--color-neutral-50);
}
.rdp-month_caption {
  display: flex;
  align-content: center;
  font-weight:var(--font-weight-regular);
  font-size: var( --font-size-16px);
  text-transform: capitalize;
}
.rdp-months{
    max-width: none;
}

/* .rdp-month_grid {
    border-collapse: separate;

} */
.rdp-month,
.rdp-table {
  width: 100%;
}
.rdp-table {
  table-layout: fixed;
}
.rdp-today{
    color: var(--color-neutal-50);
}